/prototype/node_modules
/build/node_modules
/prototype/.sass-cache
/.DS_Store
/design
/build
!/build/themes/searchit
!/build/themes/searchit/*
!/build/plugins/searchit
!/build/plugins/searchit/*
/build/themes/searchit/content
/build/themes/searchit/content/*
/build/themes/searchit/meta
/build/themes/searchit/meta/*
!/.gitignore