.job-detail {
    padding: 32px 0;
    position: relative;
    display: block;
    background-color: #f1f1f1;

    &__container {
        position: relative;
        display: flex;
		flex-wrap: nowrap;
        align-items: flex-start;
    }

    &__description {
        flex-basis: 72%;
        padding: 20px;
        background-color: white;

        .title {
            font-size: 32px;
            color: $color-tertiary;
            margin: 0 0 32px 0;
            padding-bottom: 20px;
            display: block;
            position: relative;
            font-weight: 900;
            line-height: 1;
            border-bottom: 1px solid rgba($color-primary, 0.1);
        }
        
        .info {
            margin: 0 0 20px 0;
            display: none;
            flex-wrap: nowrap;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color-primary, 0.1);

            &-single {
                margin: 0 36px 0 0;

                i,
                p {
                    display: inline-block;
                    margin: 0;
                    vertical-align: middle;
                }

                i {
                    font-size: 19px;
                    margin-right: 3px;
                    color: $color-tertiary;
                }

                p {
                    font-size: 14px;
                }

            }

        }

        .description-container {
            margin-bottom: 32px;

            ul {
                list-style-type: circle;
                margin: 16px 0 16px 32px;

                li {
                    line-height: 1.3;
                    padding: 5px 0;
                }

            }

        }

    }

    &__sidebar {
        flex-basis: 28%;
        padding: 20px;
        background-color: white;
        margin-left: 16px;
        margin-top: 48px;
        position: relative;

        .title {
            font-size: 18px;
            border-bottom: 1px solid rgba($color-primary, 0.1);
            padding-bottom: 12px;
            margin-bottom: 16px;
            margin-top: 32px;
            display: block;
            text-align: left;

            &:first-of-type {
                margin-top: 0;
            }

            &.social {

                @media(max-width: 1170px) {
                    margin-bottom: 11px;
                }

            }

        }

        .info {

            &-single {
                margin: 0;
                text-align: left;

                i,
                p {
                    display: inline-block;
                    margin: 0;
                }

                i {
                    font-size: 19px;
                    margin-right: 8px;
                    margin-left: -27px;
                    vertical-align: -4px;
                    color: $color-tertiary;
                }

                p {
                    font-size: 14px;
                    margin: 0.2em auto;
                    padding-left: 27px;
                }

            }

        }

        #job_map {
            width: 100%;
            height: 320px;
            position: relative;
            display: block;
        }

        .btn-top {
            position: absolute;
            top: -48px;
            right: 0;
            left: 0;
            height: 44px;
            line-height: 46px;
            padding-left: 0;
            padding-right: 0;
            background-color: $color-tertiary;
            transition: all 250ms ease;

            span {
                color: white;
                transition: all 250ms ease;
                position: relative;
                display: block;
            }

            &:before {
                display: none;
            }

            &:hover {
                -webkit-box-shadow: 0 0 12px 0 rgba($color-primary, 0.7);
			    box-shadow: 0 0 12px 0 rgba($color-primary, 0.7);

                span {
                    transform: scale(1.15);
                }

            }

        }

        .shortlist-link {
            position: absolute;
            right: 20px;
            top: 8px;
            color: $color-tertiary;
            line-height: 24px;
            padding: 10px;
            padding-right: 0;
            overflow: hidden;
            z-index: 9;

            p,
            i {
                transition: all 250ms ease;
                display: inline-block;
                margin: 0;
                vertical-align: middle;
            }

            i {
                background-color: white;
                position: relative;
                z-index: 99;
                margin-left: 5px;
            }

            p {
                opacity: 0;
                font-size: 13px;
                font-weight: 600;
                transform: translateX(100%);
            }

            &:hover {

                i {
                    font-size: 28px;
                }

                p {
                    transform: translateX(0);
                    opacity: 1;
                }

            }

        }

    }

    &__social {
        display: block;
        position: relative;
        margin: 0 -2px;

        @media(max-width: 1170px) {
            margin: 0 -5px;
        }

        a {
            display: inline-block;
            margin: 0 2px 2px 2px;

            @media(max-width: 1170px) {
                margin: 5px;
            }

            i {
                font-size: 20px;
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 36px;
                text-align: center;
                margin: 0;
                color: white;
                transition: all 200ms ease;
                
                &.fa-facebook {
                    background-color: #3b5998;
                }

                &.fa-twitter {
                    background-color: #55acee;
                }

                &.fa-linkedin {
                    background-color: #007bb5;
                }

                &.fa-google-plus {
                    background-color: #dd4b39;
                    font-size: 19px;
                    line-height: 37px;
                }

                &.fa-get-pocket {
                    background-color: #f73b57;
                    font-size: 18px;
                    line-height: 38px;
                }

                &.fa-whatsapp {
                    background-color: #43d854;
                    font-size: 23px;
                    line-height: 33px;
                }

                &.fa-envelope-o {
                    background-color: #aaaaaa;
                    font-size: 19px;
                    line-height: 37px;
                }

            }

            &:hover {

                i {
                    transform: scale(1.25);
                    -webkit-box-shadow: 0 0 8px 0 rgba($color-primary, 0.6);
			        box-shadow: 0 0 8px 0 rgba($color-primary, 0.6);
                }

            }

        }

    }

    &__modal {
        background: rgba($color-primary, 0.75);
        opacity: 0;
        transition: all 500ms ease;
        height: 100%;
        height: 100vh;
        left: 0;
        overflow: auto;
        padding: 1.5em;
        position: fixed;
        top: 0;
        width: 100%;
        display: none;
        z-index: 9999999999999999;

        &.active {
            opacity: 1;
            display: flex;

            form {
                transform: translateY(0);
            }

        }

        h2 {
            padding: 0 10px;
            margin: 0 0 10px 0;
        }

        form {
            margin: auto;
            max-width: 800px;
            overflow: auto;
            overflow-x: hidden;
            padding: 20px 10px;
            position: relative;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            background: #f1f1f1;
            box-shadow: 0 0 30px 0 $color-primary;
            transition: all 500ms ease;
            transform: translateY(200%);

            .close {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 32px;
                padding: 3px;
                background-color: $color-tertiary;
                color: white;
                cursor: pointer;
                z-index: 9999;
            }

            .input-cont {
                flex-basis: 50%;
                padding: 0 10px;
                position: relative;
            }

            .hidden-desktop {
                display: none;
            }

            .title {
                display: block;
                position: relative;
                flex-basis: 100%;
                padding: 0 10px;
                margin-bottom: 16px;

                p {
                    margin: 0 0 16px 0;
                    font-size: 27px;
                    border-bottom: 1px solid rgba($color-primary, 0.1);
                    padding-bottom: 10px;

                    span {
                        color: $color-tertiary;
                        font-weight: 700;
                        margin: 0 0 0 5px;
                        display: inline-block;
                    }

                }

                span {
                    font-weight: 700;
                    margin: 24px 0 12px 0;
                    display: block;
                }

                button {
                    display: inline-block;
                    width: auto;
                    padding: 10px 40px;
                    margin-right: 10px;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: white;
                    cursor: pointer;
                    transition: all 200ms ease;

                    &:hover {
                        transform: scale(1.05);
                        -webkit-box-shadow: 0 0 8px 0 rgba($color-primary, 0.6);
                        box-shadow: 0 0 8px 0 rgba($color-primary, 0.6);
                    }

                    &.fb {
                        background-color: #3b5998;
                    }

                    &.li {
                        background-color: #007bb5;
                    }

                }

            }

            label {
                display: block;
                color: $color-primary;
                font-size: 15px;
                margin-bottom: 5px;
                line-height: 1;
                height: 18px;

                span {
                    color: red;
                    font-weight: 700;
                }

            }

            input,
            select,
            textarea,
            button {
                appearance: none;
                border: none;
                border-radius: 0;
                margin: 0 0 20px 0;
                padding: 10px 10px 8px 10px;
                width: calc(100% - 20px);
                outline: 0;
                display: block;
                position: relative;
                background-color: white;
                font-family: 'Roboto', sans-serif;
	            font-weight: 400;
                font-size: 15px;
                color: $color-primary;
                resize: none;
                transition: all 200ms ease;

                &[type="file"] {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 9;
                    cursor: pointer;
                }

                &[type="submit"] {
                    width: auto;
                    margin: 10px auto 0;
                    display: inline-block;
                    padding: 16px 40px!important;
                    height: auto!important;
                    border: none!important;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    line-height: 1;
                    text-transform: uppercase;
                    color: white;
                    cursor: pointer;
                    background-color: $color-tertiary;

                    &:hover {
                        transform: scale(1.05);
                        -webkit-box-shadow: 0 0 8px 0 rgba($color-primary, 0.6);
                        box-shadow: 0 0 8px 0 rgba($color-primary, 0.6);
                    }

                }

                &:focus,
                &:active {
                    outline: none;
                    border-color: $color-tertiary;
                }

            }

            input,
            select,
            textarea {
                border-bottom: 2px solid transparent;
                line-height: 1.3;
            }

            input {
                height: 36px;
                padding: 0 10px;
            }

            textarea {

                &.address {
                    height: 80px;
                }

                &.message {
                    height: 242px;
                }

            }

            select {
                height: 38px;
                width: 100%;
                cursor: pointer;

                &+i {
                    position: absolute;
                    right: 16px;
                    top: 30px;
                    pointer-events: none;
                    transition: all 200ms ease;
                }

                &:hover {

                    &+i {
                        top: 33px;
                        color: $color-tertiary;
                    }

                }

            }

            .cvupload {
                display: block;
                position: relative;
                width: 100%;
                height: 38px;
                margin-bottom: 20px;
                background-color: white;

                p {
                    margin: 0;
                    padding: 0 10px;
                    font-size: 15px;
                    line-height: 38px;

                    i {
                        opacity: 0.6;
                        font-style: normal;
                    }

                }
                    
            }

        }

    }

}