.job-detail {
    padding: 32px 0;
    position: relative;
    display: block;
    background-color: #f1f1f1;

    &__container {
        position: relative;
        display: flex;
		flex-wrap: nowrap;
        align-items: flex-start;
    }

    &__description {
        flex-basis: calc(70% - 40px);
        padding: 20px;
        background-color: white;

        .title {
            font-size: 32px;
            color: $color-tertiary;
            margin: 0 0 32px 0;
            padding-bottom: 20px;
            display: block;
            position: relative;
            font-weight: 900;
            line-height: 1;
            border-bottom: 1px solid rgba($color-primary, 0.1);
        }
        
        .info {
            margin: 0 0 20px 0;
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color-primary, 0.1);

            &-single {
                margin: 0 36px 0 0;

                i,
                p {
                    display: inline-block;
                    margin: 0;
                    vertical-align: middle;
                }

                i {
                    font-size: 19px;
                    margin-right: 3px;
                    color: $color-tertiary;
                }

                p {
                    font-size: 14px;
                }

            }

        }

        .description-container {
            margin-bottom: 32px;

            ul {
                list-style-type: circle;
                margin: 16px 0 16px 32px;

                li {
                    line-height: 1.3;
                    padding: 5px 0;
                }

            }

        }

    }

    &__sidebar {
        flex-basis: calc(30% - 40px);
        padding: 20px;
        background-color: white;
        margin-left: 16px;
        margin-top: 48px;
        // text-align: center;

        .title {
            font-size: 18px;
            border-bottom: 1px solid rgba($color-primary, 0.1);
            padding-bottom: 12px;
            margin-bottom: 16px;
            margin-top: 32px;
            display: block;
            text-align: left;

            &:first-of-type {
                margin-top: 0;
            }

        }

        .info {

            &-single {
                margin: 0;
                text-align: left;

                i,
                p {
                    display: inline-block;
                    margin: 4px 0;
                    vertical-align: middle;
                }

                i {
                    font-size: 20px;
                    margin-right: 5px;
                    color: $color-tertiary;
                }

                p {
                    font-size: 14px;
                }

            }

        }

        #job_map {
            width: 100%;
            height: 320px;
            position: relative;
            display: block;
        }

        .btn-top {
            position: absolute;
            top: 0;
            right: 0;
            width: calc(30% - 9px);
            height: 44px;
            line-height: 46px;
            padding-left: 0;
            padding-right: 0;
            background-color: $color-tertiary;
            transition: all 250ms ease;

            span {
                color: white;
                transition: all 250ms ease;
                position: relative;
                display: block;
            }

            &:before {
                display: none;
            }

            &:hover {
                -webkit-box-shadow: 0 0 12px 0 rgba($color-primary, 0.7);
			    box-shadow: 0 0 12px 0 rgba($color-primary, 0.7);

                span {
                    transform: scale(1.15);
                }

            }

        }

        .shortlist-link {
            position: absolute;
            right: 20px;
            top: 55px;
            color: $color-tertiary;
            line-height: 24px;
            padding: 10px;
            padding-right: 0;
            overflow: hidden;
            z-index: 9;

            p,
            i {
                transition: all 250ms ease;
                display: inline-block;
                margin: 0;
                vertical-align: middle;
            }

            i {
                background-color: white;
                position: relative;
                z-index: 99;
                margin-left: 5px;
            }

            p {
                opacity: 0;
                font-size: 13px;
                font-weight: 600;
                transform: translateX(100%);
            }

            &:hover {

                i {
                    font-size: 28px;
                }

                p {
                    transform: translateX(0);
                    opacity: 1;
                }

            }

        }

    }

    &__social {
        display: block;
        position: relative;

        a {
            display: inline-block;

            i {
                font-size: 20px;
                width: 36px;
                height: 36px;
                line-height: 36px;
                border-radius: 36px;
                text-align: center;
                margin-right: 3px;
                color: white;
                transition: all 200ms ease;
                
                &.fa-facebook {
                    background-color: #3b5998;
                }

                &.fa-twitter {
                    background-color: #55acee;
                }

                &.fa-linkedin {
                    background-color: #007bb5;
                }

                &.fa-google-plus {
                    background-color: #dd4b39;
                    font-size: 19px;
                    line-height: 37px;
                }

                &.fa-get-pocket {
                    background-color: #f73b57;
                    font-size: 18px;
                    line-height: 38px;
                }

                &.fa-whatsapp {
                    background-color: #43d854;
                    font-size: 23px;
                    line-height: 33px;
                }

                &.fa-envelope-o {
                    background-color: #aaaaaa;
                    font-size: 19px;
                    line-height: 37px;
                }

            }

            &:hover {

                i {
                    transform: scale(1.25);
                    -webkit-box-shadow: 0 0 8px 0 rgba($color-primary, 0.6);
			        box-shadow: 0 0 8px 0 rgba($color-primary, 0.6);
                }

            }

        }

    }

}