.main-navigation {
	display: block;
	position: relative;
	height: 160px;
	width: 100%;
	background-color: $color-light;
	padding: 0;

	@media(max-width: 660px) {
		height: 130px;
	}

	.logo {
		height: 64px;
		width: auto;
		display: inline-block;
		line-height: 64px;

		@media(max-width: 660px) {
			height: 58px;
			line-height: 58px;
		}

		object,
		svg {
			height: 64px;
			width: auto;
			pointer-events: none;

			@media(max-width: 660px) {
				height: 58px;
			}

		}

	}

	.top {
		height: 99px;
		width: 100%;
		display: block;
		position: relative;
		border-bottom: 1px solid rgba($color-primary, 0.1);
		line-height: 99px;

		.social {
			display: none;
			
			@media(max-width: 960px) {
				display: inline-block;
				margin: 21px 0 18px;
				padding-right: 30px;
			}

			@media(max-width: 660px) {
				display: none;
			}

		}

		@media(max-width: 660px) {
			height: 79px;
			line-height: 79px;
		}

	}

	.bottom {
		height: 60px;
		width: 100%;
		display: block;
		position: relative;

		> div {
			height: 60px;
		}

		.right {

			@media(max-width: 960px) {
				position: absolute;
				right: 0;
			}
		
		}

		@media(max-width: 660px) {
			height: 50px;
			line-height: 50px;

			> div {
				height: 50px;
			}

		}

	}

	.left {
		float: left;
		display: inline-block;
	}

	.right {
		float: right;
		display: inline-block;
	}

	.lang {
		text-decoration: none;
		display: inline-block;
		position: relative;
		color: $color-primary;
		height: 60px;
		line-height: 60px;
		z-index: 9;
		background-color: $color-light;

		@media(max-width: 660px) {
			height: 50px;
			line-height: 50px;
		}

		i,
		span {
			display: inline-block;
			line-height: 60px;
			float: left;
			transition: all 250ms ease;

			@media(max-width: 660px) {
				line-height: 50px;
			}

		}

		i {
			font-size: 21px;
			
			&.active + span {
				font-size: 12px;
				padding-left: 5px;
			}

		}

		span {
			padding-left: 5px;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;

			@media(max-width: 760px) {
				font-size: 0;
				padding: 0;
			}

		}

		&:hover {

			i,
			span {
				color: $color-tertiary;
			}

		}

	}


	.search-btn {
		width: 60px;
		display: inline-block;
		float: left;
		height: 60px;
		line-height: 60px;
		border-left: 1px solid rgba($color-primary, 0.1);
		background-color: $color-light;
		text-align: center;
		font-size: 24px;
		color: $color-primary;
		cursor: pointer;
		z-index: 9;
		position: relative;
		transition: all 200ms ease;

		@media(max-width: 660px) {
			height: 50px;
			width: 50px;
			line-height: 50px;
		}

		&:hover {
			font-size: 32px;
		}

		&.active {
			font-size: 32px;
			color: $color-tertiary;
		}

	}

	.search-field {
		display: inline-block;
		float: left;
		height: 60px;
		line-height: 60px;
		background-color: $color-light;
		z-index: 9;
		position: relative;
		transition: all 250ms ease;

		@media(max-width: 660px) {
			height: 50px;
			line-height: 50px;
		}
		
		&.active {
			margin-left: -10px;
			padding-right: 15px;
			
			input {
				width: 150px;
				opacity: 1;
			}

		}

		input {
			border: none;
			border-bottom: 2px solid $color-tertiary;
			line-height: 21px;
			outline: none;
			-webkit-appearance: none;
			appearance: none;
			padding: 0;
			margin: 0;
			padding-right: 0;
			background-color: $color-light;
			font-size: 14px;
			width: 0px;
			opacity: 0;
			transition: all 250ms ease;
		}

	}

	.social {
		padding: 0 15px;
		height: 60px;
		line-height: 60px;
		margin: 0;
		list-style: none;
		color: $color-primary;
		display: inline-block;
		float: left;

		@media(max-width: 1170px) {
			padding: 0 10px;
			position: relative;
			transition: all 250ms ease;
			
			&.active {
				transform: translateX(50%);
				opacity: 0;
				padding: 0;

				li {
					
					a {
						padding: 0;

						i {
							font-size: 0;
						}
	
					}
	
				}

			}

		}

		@media(max-width: 960px) {
			display: none;
		}

		@media(max-width: 660px) {
			height: 50px;
			line-height: 50px;
			display: block;
		}

		li {
			float: left;
			line-height: 60px;

			@media(max-width: 660px) {
				line-height: 50px;
			}

			a {
				padding: 0 10px;
				color: $color-primary;
				text-align: center;
				text-decoration: none;
				display: block;
				position: relative;
				transition: all 200ms ease;

				@media(max-width: 1170px) {
					padding: 0 7px;
				}
				
				i {
					display: block;
					position: relative;
					height: 60px;
					line-height: 60px;
					font-size: 18px;
					transition: all 200ms ease;

					@media(max-width: 660px) {
						height: 50px;
						line-height: 50px;
					}

				}

				&:hover {

					i {
						color: $color-tertiary;
					}

				}

			}

		}

	}

	#menu-btn {
		width: 50px;
		height: 50px;
		display: block;
		text-align: center;
		margin-left: -12px;
		cursor: pointer;
		display: none;
		line-height: 50px;
		overflow: hidden;
		position: relative;

		i {
			font-size: 32px;
			transition: all 250ms ease;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -16px 0 0 -16px;

			&:nth-child(2) {
				transform: translateX(150%);
			}

		}

		@media(max-width: 660px) {
			display: block;
		
			&.active {

				i {

					&:nth-child(1) {
						transform: translateX(-150%);
					}
					
					&:nth-child(2) {
						transform: translateX(0);
					}

				}

				// span {
				// 	background-color: $color-tertiary;

				// 	&:nth-child(1) {
				// 		transform: translateY(23px) rotate(45deg);
				// 		width: 24px;
				// 	}

				// 	&:nth-child(2) {
				// 		transform: translateY(21px);
				// 		width: 0;
				// 	}

				// 	&:nth-child(3) {
				// 		transform: translateY(19px) rotate(-45deg);
				// 		width: 24px;
				// 	}

				// }

				&+.menu {
					-webkit-box-shadow: 5px 0 20px 5px $color-primary;
					box-shadow: 5px 0 20px 5px $color-primary;

					// &:after {
					// 	opacity: 0.5;
					// 	width: 100vw;
					// }

				}

			}

		}

		// span {
		// 	transition: all 250ms ease;
		// 	width: 26px;
		// 	height: 2px;
		// 	background: $color-primary;
		// 	display: block;
		// 	margin: 0 auto;
		// 	border-radius: 2px;

		// 	&:nth-child(1) {
		// 		transform: translateY(16px);
		// 	}

		// 	&:nth-child(2) {
		// 		transform: translateY(21px);
		// 	}

		// 	&:nth-child(3) {
		// 		transform: translateY(26px);
		// 	}

		// }

	}

	.menu {
		float: left;
		display: inline-block;
		list-style: none;
		padding: 0;
		height: 60px;
		line-height: 60px;
		margin: 0 0 0 -15px;
		position: relative;
		z-index: 9999;

		@media(max-width: 1170px) {
			margin: 0 0 0 -10px;
		}

		@media(max-width: 760px) {
			margin: 0 0 0 -7px;
		}

		@media(max-width: 660px) {
			display: block;
			float: none;
			position: fixed;
			margin: 0;
			left: 0;
			top: 0;
			bottom: 0;
			transform: translateX(-270px);
			width: 270px;
			min-height: 100%;
			min-height: 100vh;
			height: 100%;
			background-color: $color-primary;
			transition: all 250ms ease;
			z-index: 9999;
			-webkit-box-shadow: 0 0 0 0 $color-primary;
			box-shadow: 0 0 0 0 $color-primary;
			overflow-x: hidden;

			// &:after {
			// 	content: '';
			// 	position: fixed;
			// 	display: block;
			// 	top: 0;
			// 	bottom: 0;
			// 	left: 100%;
			// 	width: 100vw;
			// 	height: 100vh;
			// 	opacity: 0;
			// 	background-color: $color-primary;
			// 	transition: all 250ms ease;
			// 	pointer-events: none;
			// }

		}

		> li {
			float: left;
			line-height: 60px;
			height: 60px;
			position: relative;
			z-index: 9;

			@media(max-width: 660px) {
				height: auto;
				line-height: 44px;
				float: none;
			}

			> a {
				color: $color-primary;
				text-decoration: none;
				display: inline-block;
				position: relative;
				height: 100%;
				line-height: 60px;
				padding: 0 15px;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 0.5px;
				z-index: 9;
				transition: all 250ms ease;

				@media(max-width: 1170px) {
					padding: 0 10px;
				}

				@media(max-width: 760px) {
					padding: 0 7px;
				}

				@media(max-width: 660px) {
					height: 44px;
					line-height: 44px;
					display: block;
					color: $color-light;
					padding: 0 15px;
				}

				&:after {
					display: block;
					position: absolute;
					bottom: 0px;
					left: 50%;
					width: 0;
					height: 3px;
					content: '';
					background-color: $color-tertiary;
					transition: all 250ms ease;

					@media(max-width: 660px) {
						display: none;
						content: none;
					}

				}

			}

			&:hover,
			&.active {

				a {
					color: $color-tertiary;

					&:after {
						width: calc(100% - 30px);
						left: 15px;

						@media(max-width: 1170px) {
							width: calc(100% - 20px);
							left: 10px;
						}

						@media(max-width: 760px) {
							width: calc(100% - 14px);
							left: 7px;
						}

					}
				
				}

			}

			.sub {
				position: absolute;
				top: 58px;
				background-color: $color-light;
				width: auto;
				list-style: none;
				padding: 3px;
				transition: all 300ms ease;
				overflow: hidden;
				opacity: 0;
				visibility: hidden;
				max-height: 0;
				z-index: 9999;

				&:before {
					display: block;
					position: absolute;
					content: '';
					top: 0;
					left: 50%;
					transition: all 300ms ease;
					width: 0;
					height: 3px;
					background-color: $color-tertiary;
					z-index: 0;
				}

				&:after {
					display: block;
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					transition: all 300ms ease;
					width: 0;
					height: 3px;
					background-color: $color-tertiary;
					z-index: 0;
				}

				li {
					float: none;
					position: relative;
					z-index: 9;
					background-color: $color-light;

					&:first-of-type {
						padding-top: 5px;
					}

					&:last-of-type {
						padding-bottom: 5px;
					}

					a {
						display: block;
						height: 40px;
						line-height: 40px;
						font-size: 12px;
						font-weight: 500;
						color: $color-primary;
						text-decoration: none;
						text-transform: uppercase;
						padding: 0 12px;
						letter-spacing: 0.5px;
						position: relative;
						transition: all 250ms ease;
						white-space: nowrap;

						&:hover {
							color: $color-tertiary;
							transform: translateX(7px);
						}

					}

				}

			}

			&:hover {

				@media(min-width: 661px) {

					.sub {
						opacity: 1;
						max-height: 9999px;
						visibility: visible;

						&:before {
							width: 100%;
							height: calc(100% - 6px);
							left: 3px;
							bottom: 3px;
						}

						&:after {
							width: 100%;
							height: 100%;
							bottom: 0;
						}

					}

				}

			}

		}

	}

}