body {
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	font-family: 'Roboto', sans-serif;
	// font-family: 'Montserrat', sans-serif;
	// font-weight: 300;
	font-size: 16px;
	color: $color-primary;
	min-height: 200vh;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
object,
svg,
picture,
embed,
iframe {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.container {
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	display: block;
	max-width: 1140px;
}

section {
	width: 100%;
	position: relative;
	display: block;
}