h1 {
	font-size: 45px;
	font-weight: 900;
	letter-spacing: 2px;
	line-height: 1.25;

	@media(max-width: 1280px) {
		font-size: 40px;
	}

	@media(max-width: 1024px) {
		font-size: 33px;
	}

}

h2 {
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 1.25;

	@media(max-width: 1280px) {
		font-size: 29px;
	}

	@media(max-width: 1024px) {
		font-size: 25px;
	}

}

h3 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.25;

	@media(max-width: 1280px) {
		font-size: 22px
	}

	@media(max-width: 1024px) {
		font-size: 20px
	}

}

h4 {
	font-size: 21px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 1.3;

	@media(max-width: 1280px) {
		font-size: 20px
	}

	@media(max-width: 1024px) {
		font-size: 19px
	}

}

h5 {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 1.3;

	@media(max-width: 1024px) {
		font-size: 17px
	}

}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.44;
	margin: 1em auto;
}